.featured-section {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.feature-item {
  border: 1px solid var(--border-color);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: var(--white);
}

.feature-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--color-font);
}

.feature-item p {
  font-size: 14px;
  color: var(--color-font);
  font-style: italic;
}