.featured h2 {
  padding: 30px 90px;
  font-size: 24px;
  color: var(--color-font);
  font-weight: 600;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding: 0 90px;
}

@media (max-width: 1600px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}