.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  text-align: center;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 150px;
}

.card h3 {
  font-size: 16px;
  color: var(--color-font);
  margin: 15px 0 5px;
  font-weight: 600;
}

.card .price {
  font-size: 16px;
  color: var(--blue-primary);
  font-weight: bold;
  border: 1px solid var(--blue-primary);
  border-radius: 8px;
  padding: 6px 12px;
  margin: 30px 0 15px;
}
